services:
  app:
    build: .
    container_name: wallet-app
    env_file:
      - config.env
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - wallet-network

  db:
    image: postgres:18-alpine
    container_name: postgres
    ports:
      - "${DB_PORT}:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      # Переменные для скрипта инициализации
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
    volumes:
      - ./sql/:/docker-entrypoint-initdb.d/
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d postgres -h localhost" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - wallet-network
    restart: unless-stopped

networks:
  wallet-network:
    driver: bridge

volumes:
  postgres_data:
